---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=OPENWEATHERMAP_API_KEY&lat=19.43&lon=-99.13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-99.13,"lat":19.43},"list":[{"main":{"aqi":4},"components":{"co":250.34,"no":0.36,"no2":4.03,"o3":141.62,"so2":24.8,"pm2_5":15.48,"pm10":16.73,"nh3":0},"dt":1678229412}]}'
  recorded_at: Tue, 07 Mar 2023 22:55:58 GMT
recorded_with: VCR 6.1.0
